 
  *{
    user-select: none;
    font-family: Consolas;
  }
  body{
    
  }
  nav{
    
    background-color: #1E1C1A;
    white-space:nowrap;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, .3);
  }
  main{background-color: #1E1C1A;}
  html{background-color: #1E1C1A;}
  header{background-color: #1E1C1A;border-bottom: 1px solid #FFFAF0;}
  footer{background-color: #1E1C1A;border-top: 1px solid #FFFAF0;}


 #demo{
  background-color: #212529;
  border-radius: 0.375rem;
  border: 2px soild #fff;
 }
  .yk-footer{
    background-color: #111;
    background: linear-gradient(to right,#222,black);
  }
  .carousel-item{
    text-align: center;
  }
  .carousel-ite img{
    display: inline-block;
  }
  .yk-ud a {
    position: relative;
    line-height: 1.5;
    transition: 0.15s all linear;
    cursor: pointer;
  }
  .yk-ud a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    border-bottom: 3px solid;
    transition: 0.15s all linear;
  }
  .yk-ud a:hover::before {
    width: 100%;
    top: 0;
    left: 0;
  }
  .yk-a1{
    padding: 4px;
    color: #ffffff8c;
  }
  .yk-a2{
    padding-left: 4px;
    color: black;
    background: linear-gradient(to right,brown,orangered,forestgreen,steelblue,purple);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .yk-t0 a:hover{color: white;}
  .yk-t1 a:hover{color: brown;}
  .yk-t2 a:hover{color: orangered;}
  .yk-t3 a:hover{color: gold;}
  .yk-t4 a:hover{color: springgreen;}
  .yk-t5 a:hover{color: lawngreen;}
  .yk-t6 a:hover{color: dodgerblue;}
  .yk-t7 a:hover{color: darkorchid;}
  ::-webkit-scrollbar{width:7px;height: 7px;background-color:#fff;display: none;}
  ::-webkit-scrollbar-track{background-color:#fff;}
  ::-webkit-scrollbar-thumb{background-color:#000000;}
  .yk-bx{left: 50%;}
  input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    position: relative;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    background: url("../assets/svg/x-lg.svg") no-repeat center;
    background-size: 100% 100%;
  }
  input[type=search]::-ms-clear {
    appearance: none;
    position: relative;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    background: url("../assets/svg/x-lg.svg") no-repeat center;
    background-size: 100% 100%;
  }
  .key{
    font-family: 宋体;

  }
