*{
    user-select: none;
}
input,button{
    border: 1px solid;
}

input{
    outline: none;
    width: 100%;
}
table{
    width: 100%;
}
td{
    text-align: center;
}
input:focus{
    border-color: dodgerblue;
}
button{
    width: 100%;
}
.main{
    margin: 10%;
    padding: 3rem;
    background-color: rgb(54, 54, 54);
}
form input{
    text-transform: uppercase;
}
button:hover{
    border-color: dodgerblue;
}